- title "About Us"

- content_for :sidebar do
  %p &nbsp;

%h2 Location

%p
  Sessions are held in the child's home for the same cost as a visit
  to a clinic. In addition to being more convenient for busy families,
  we find that our client achieve greater success when treated in
  their homes, as opposed to a clinic environment.  Infants and
  children, are typically most comfortable in a familiar
  environment. Play based therapy sets children up for success in an
  environment that is fun, nurturing and safe. Working together in
  your child's home environment also helps us to better understand
  your family's and your child's routines so that we may best coach
  you in activities and exercises that will help your child and meet
  your goals.  Length of Sessions are typically 50-60 minutes. The
  frequency of treatment is tailored to the needs of each child.

%h2 Biographies

%h3 Chrissy

%p
  Chrissy is based in Alexandria, VA. She sees children in Alexandria
  as well as in the cities of Falls Church and in Arlington, VA.
  Chrissy has been a Pediatric Physical Therapist for the past 10+
  years.  She is also a mom of four children. She loves working with
  infants and children as well as their parents, to help them problem
  solve the best ways to help them overcome their challenges.  Chrissy
  graduated from Boston University in 2000 with a Master of Science in
  Physical Therapy and also in 1998, with a Bachelor of Science, magna cum laude,
  from BU. She is originally from Massachusetts.  Chrissy has been
  trained in Neurodevelopmental Treatment (NDT), including specialized
  treatment of infants. She has also been trained in the use of
  Kinesiotape, as well as NMES (Neuromuscular Electric Muscle
  Stimulation) and FES (Functional Electrical Muscle Stimulation) for
  children, casting and fitting for Cascade DAFOs and am adept at
  making appropriate recommendations for orthotics, braces and other
  adaptive equipment.  She has had the privilege of working in a
  variety of specialized pediatric settings, including Children's
  Hospitals, Early Intervention, Schools, and Private Practice.  In
  her free time, she delights in playing with her children, coaching
  soccer, cooking a delicious meal, or tackling the latest WOD at
  CrossFit.

%h3 Andrea

%p
  Andrea is a Pediatric Physical Therapist based in Fairfax, VA. She sees
  children in Fairfax County from 3 years of age to 18 years old.

%p
  In 1998, Andrea graduated cum laude from Quinnipiac College (Hamden,
  CT) with a degree in Physical Therapy and holds a Physical Therapy
  license in NJ, NY and VA.

%p
  Over the past 14+ years, Andrea has enjoyed working with families to help
  their child/children reach his/her maximum potential.

%p
  Her work experience includes: Acute Care and Rehabilitation Hospitals,
  Early Intervention, Schools (private and public), and Private Practice. She
  has instructed therapeutic horseback riding in NY and was featured in the
  Advance for PT Magazine for her work.

%p
  Andrea has been trained in Neurodevelopmental Treatment (NDT) for
  children with neurological impairments. During treatment sessions, she
  enjoys utilizing therapeutic play strategies, sensory integration techniques,
  and assistive technology. She is comfortable making appropriate
  recommendations for orthotics, braces and other adaptive equipment.  

%p
  During free time, she takes pleasure in spending time with her family,
  working out, and enjoying nature. Also as a mother to 4 daughters,
  including triplets, she is a member of Northern Virginia Parents of Multiples
  (NVPOM).