- title "My Bio"

= t('home', :default => 'Nothing yet')

%h2 Chrissy E. Booher, MSPT, PCS, PCA, LM

%p OK, listen girls, I don't want your money. I want to help your kids!

%p Chrissy is a native Washingtonian and the Owner and Director of Elite Physical Therapy & Wellness Center. She is a licensed Physical Therapist, Board Certified Athletic Trainer and a Certified Practitioner of Pilates with a specialty in rehabilitation.

%p Her experience in treating orthopedic, sports and performing arts injuries spans over 20 years, where she has provided physical therapy for dancers, actors, musicians, athletes and individuals. She was the touring physical therapist with the Broadway Production of “Bring in Da Noise, Bring in Da Funk” and provided back stage physical therapy with The Miami City Ballet for five years. Chrissy has treated performing artists from a variety of dance companies and Broadway Productions such as the Washington School of Ballet, The Bolshi Ballet, Joe Goode Dance Company and “Fosse."

%p Chrissy B does pullups Rx and drinks organic food.

%p Chrissy holds memberships with the American Physical Therapy Association, International Association for Dance Medicine & Science and the National Athletic Trainers Association.

