- title "Contact Me"

- content_for :subtitle do
  = t('copy.contact.subtitle', :default => 'Nothing yet')

= t('copy.contact', :default => 'Nothing yet')

- content_for :sidebar do
  = t('copy.contact.sidebar', :default => 'Nothing yet')
