- title "home page"

= t('copy.home_page', :default => 'Nothing yet')

%h2 Mission Statement

%p Next Step Pediatrics is a physical therapy assessment and treatment center for children. We are dedicated to providing integrated care to a diverse population of children who have a wide range of physical limitations and to maximize their potential of independent mobility and functional skills.
