- content_for :topbar do
  #wrapper
    #slider_wrapper
      #slider
        = image_tag "splash/PTPN_Logo_Banner.jpg"
        = image_tag "splash/ChrissyBallBanner.jpg"

  :javascript
    $(window).load(function() {
        $('#slider').nivoSlider();
    });

/ %h1.tk-lint-mccree Welcome
%h1 Welcome
/%h1.tk-swister-regular Welcome
/%h1.tk-proxima-nova Welcome
/%h1.tk-nimbus-sans Welcome
/%h1.tk-ff-prater-script-web Welcome

/ FF Prater Script Web


- content_for :sidebar do
  = image_tag "ChrissyAndAnne.jpg"

%p
  Chrissy Booher is a Pediatric Physical Therapist who provides in-home Physical Therapy Evaluation and Treatments
  to infants and children in Northern Virginia.
  Therapy is play based, yet guided by research driven principles as well as a
  thorough understanding of anatomy, human movement and development.

%p Thanks for visiting, and we look forward to talking with you soon!


