- title "home page"

%b Welcome!

%p
  Chrissy Booher is a Pediatric Physical Therapist who provides home-based Physical Therapy
  to infants and children in Alexandria, VA and surrounding cities.
  Therapy is play based, yet guided by research driven principles as well as a
  thorough understanding of anatomy, human movement and development.

%p Thanks for visiting, and I look forward to talking with you soon!

- content_for :subtitle do
  anything for homepage subtitle?
