%h3 Home

%p Welcome to Chrissy B

%p Next Step Pediatric Physical Therapy integrates scientific knowledge of movements into children’s play and function and applies state-of-the-art technology to help the children to make sense out of what may seem, to them, an overwhelming and chaotic world. Next Step is known for its practice ethics and top quality performance.

%p Located in the heart of Rockville MD, Next Step offers a wide spectrum of physical therapy related services and programs for pediatric patients including comprehensive, individualized assessments and treatment based on the child's age and diagnosis. The professionals at Next Step are committed to keeping apprised of the latest research in pediatric physical therapy, continuously developing new programs, and seeking out new technologies in order to bring the most comprehensive form of intervention to the children.

%h2 Mission Statement

%p Next Step Pediatrics is a physical therapy assessment and treatment center for children. We are dedicated to providing integrated care to a diverse population of children who have a wide range of physical limitations and to maximize their potential of independent mobility and functional skills.
