- title "New Patients"

- content_for :subtitle do
  = t('copy.new_patients.subtitle', :default => 'The first steps')

= t('copy.new_patients', :default => 'Nothing yet')

- content_for :sidebar do
  = t('copy.new_patients.sidebar', :default => 'Nothing yet')