- title "Payment"

%p You pay me cash! (or check)

%p How do they pay you? What forms of payment do you accept?

%p What is the deal with insurance? What do you accept?

= t('copy.payment', :default => 'No details')