- title "Physical Therapy Services"

%p
  We provide a full range of in-home Pediatric Physical Therapy Evaluation and
  Treatment for infants and children, from birth to 18 years of age.&nbsp;

%p Some of the diagnoses we treat include:

%ul
  %li Torticollis
  %li Prematurity
  %li Delayed Gross Motor Skills
  %li Hypotonia (Low Muscle tone)
  %li Hypertonia
  %li Cerebral Palsy
  %li Genetic Disorders
  %li Spina Bifida
  %li Congenital Toe Walking
  %li Developmental Delay

%p
  We also offer Parent Education, including developmental education coaching and
  consultations for parents of newborns to those six months of age.

%dl.dl-horizontal
  - @services.each do |service|
    %dt= service.name
    %dd= service.description