- title "Physical Therapy Services"

- content_for :sidebar do
  %p
    = image_tag "ChrissyPics/AnnieOnBall.jpg"
  %p
    = image_tag "ChrissyPics/AnnieOnRoady.jpg"
  %p
    = image_tag "ChrissyPics/AnnieHappy.jpg"
  %p
    = image_tag "ChrissyPics/ChrissyByCouch.jpg"

%p
  We provide a full range of in-home Pediatric Physical Therapy Evaluation and
  Treatment for infants and children, from birth to 18 years of age. We serve families in Arlington, Falls Church, Alexandria, Fairfax, and other select cities in the immediate area.

%p Some of the diagnoses we treat include:

%ul
  %li Torticollis
  %li Prematurity
  %li Delayed Gross Motor Skills
  %li Hypotonia (Low Muscle tone)
  %li Hypertonia
  %li Cerebral Palsy
  %li Genetic Disorders
  %li Spina Bifida
  %li Congenital Toe Walking
  %li Developmental Delay

%p
  We also offer Parent Education, including developmental education coaching and
  consultations for parents of newborns to those six months of age.

%h3 Torticollis

%p Is a condition  that literally means "twisted neck. " It is derived from the Latin terms Torta, meaning twisted and Collum, meaning neck.

%p Infants with Torticollis have a strong preference for looking toward one side. In addition, they may have a flat spot on the back of their head. Torticollis may be present from birth or may develop in the first few months after birth.

%p Torticollis can be caused by several different underlying conditions. The most common is Congenital Muscular Torticollis (from birth, caused by muscular tightness). Torticollis may also be caused by vision problems (Ocular Torticollis), by bony abnormalities in the spine, or by neurological balance problems (Benign Paroxysmal Torticollis).

%h3 Developmental Delays:

%p Developmental Delay is a "catch all" phrase to describe many different conditions that may cause an infant or toddler to have difficulty with Motor Milestones such as sitting, crawling, pulling to stand or walking.

%h3 Hypotonia

%p Hypotonia (or low muscle tone) is a neurological condition. Normally, even when relaxed, muscles have a small amount of contraction or resistance that give them a springy feel and provide a small amount of resistance to passive movement. Low muscle tone is not the same thing as muscle weakness, although the two can co-exist.

%p Infants with low tone may show difficulties with head control and/ or delays in the acquisition of gross motor skills (tummy time, rolling, propping on forearms, sitting up, standing or walking). They often have a hard time with tummy time or with lifting their head for a sustained period of time. There are varying degrees of low tone and there are many causes for it. Parents of children with low tone often describe their children as feeling "floppy."

%h3 Toe-Walking

%p Toe-Walking is an abnormal gait pattern that, if untreated, can cause joint contractures at the ankles and bony anomalies over time. There are many causes for Toe- Walking including Hypertonia (increased muscle tone), Sensory Processing Disorder, Hypotonia (low muscle tone), and Congenital (from birth) tightness of the heel cord, as well as others.  Physical Therapy can help improve a child's range of motion and strength and greatly improve their balance as well as their ability to walk. Therapy can also decrease the need for other, more invasive treatment techniques.