- title "Physical Therapy Services"

- content_for :sidebar do
  %p
    = image_tag "ChrissyPics/AnnieOnBall.jpg"
  %p
    = image_tag "ChrissyPics/AnnieOnRoady.jpg"


%p
  We provide a full range of in-home Pediatric Physical Therapy Evaluation and
  Treatment for infants and children, from birth to 18 years of age.&nbsp;

%p Some of the diagnoses we treat include:

%ul
  %li Torticollis
  %li Prematurity
  %li Delayed Gross Motor Skills
  %li Hypotonia (Low Muscle tone)
  %li Hypertonia
  %li Cerebral Palsy
  %li Genetic Disorders
  %li Spina Bifida
  %li Congenital Toe Walking
  %li Developmental Delay

%p
  We also offer Parent Education, including developmental education coaching and
  consultations for parents of newborns to those six months of age.

%h3 Developmental Delays:
%p Physical Therapy is essential for helping a young child under the age of three to acquire their gross motor skills. Physical Therapy for Developmental Delay is a "catch all" phrase to describe many different conditions such as delayed sitting, crawling, standing, walking.
%h3 Hypotonia
%p Physical Therapy provided by our experienced clinicians can help a child with hypotonia, or low muscle tone, vastly improve their function. Hypotonia is a condition of weak muscle strength that may cause developmental problems including delays in acquisition of gross motor skills.
%h3 Toe-Walking
%p Physical Therapy for toe walking, which is an abnormal gait pattern that, if untreated, can cause joint contractures at the ankles, can help improve a child's ability to walk and also decrease the need for other, more invasive treatment techniques.