- title "What People are Saying"


%h2 Julia & Andrew from Arlington

%blockquote
  %p We recommend Chrissy highly and without hesitation.  We met her in 2010, when our pediatrician told us that our 8-week old son needed to start physical therapy.  As first time parents, we were incredibly fearful.  Chrissy eased our fears and concerns by taking the time to educate us on our son’s condition, what to expect from her as his physical therapist, and what steps we would take together to help him get better.  In 2011, we learned that our second son required physical therapy, also starting at 8 weeks old.  Both of our sons have thrived under her high quality of care and over the past two and a half years, she has celebrated each of their milestones with us - both big and small.  She truly cares about our sons and we are so appreciative for everything that she has done for our family.

%h2 Lindsay & Chad from Fairfax

%blockquote
  %p Chrissy is truly great.  She put my mind at ease and answered all of my many questions during the initial meeting.  We have seen incredible progress in our son since we started working with Chrissy.  She makes sure we understand the next steps, goals, and what to work on from week to week.  She is great with our son and encourages him and us.  She is very responsive and genuinely cares about our son's progress.  She wrote a very comprehensive report for his pediatrician as well.
  %p We are very lucky to have found her!


