- title "What People are Saying"

%h2 Julia from North Arlington

%blockquote
  Chrissy has worked with both of our sons to treat them for Torticollis and delays associated with Hypotonia. She is personable, kind and has a ton of practical advice to offer parents.
%h2 Ann Marie from Falls Church

%blockquote
  We have known Chrissy for four years, during which time she has worked with our son. She is wonderful with him and has been a huge help to our family over the years!

