- title "What People are Saying"

- content_for :sidebar do
  %p Any side content?

%h2 Betty from Detroit

%blockquote
  Nullam est mi, pharetra elementum condimentum non, auctor eget ligula. Sed accumsan venenatis lorem, ut commodo justo suscipit quis. Mauris eget arcu sed dolor placerat accumsan. Proin faucibus leo quis ligula lacinia ut ultrices lectus facilisis. Duis augue enim, vulputate non ultricies eu, facilisis vel justo. Aliquam et lorem nunc. Donec eget mauris sit amet est laoreet ullamcorper eu eu eros. Sed aliquam eros in risus lobortis pulvinar eu non tortor.

%h2 Ralf from Natick

%blockquote
  Sed eget diam vestibulum arcu dignissim dictum at ac lorem. Morbi libero mauris, tempus at sagittis a, sodales eget magna. Nulla laoreet dolor mauris, quis mattis enim. Vestibulum et tortor sed nunc vestibulum consectetur. Morbi facilisis, metus pharetra congue semper, metus odio euismod massa, non scelerisque sapien dolor in sem. Nulla facilisi. Duis varius tincidunt odio, vel facilisis nunc rutrum eu. Nulla ultricies odio et massa consequat blandit. Phasellus facilisis viverra eros, vitae cursus urna condimentum at. Duis pulvinar vulputate dapibus. Donec odio sem, fermentum eu pulvinar accumsan, rutrum eget nunc. In non odio risus. Fusce vel elementum risus.


