- title "Thank you!"

- content_for :sidebar do
  %p
    = image_tag "ChrissyPics/AnnieOnBall.jpg"
  %p
    = image_tag "ChrissyPics/AnnieOnRoady.jpg"

%p
  Thank you for contacting me. I'm excited to talk to you.

%p I am a chicken -- spicy and sweet.