/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
*/

.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

body {
  line-height: 18px;
  font-family: 'Droid Sans', arial, serif;
  font-size: 12px;
  color: #3C3C3C;
  background: image-url('footer-bg.png');
}

.right-shadow {
  background: white image-url('right-shadow.png') repeat-y top right;
}

#footer {
  background: image-url('footer-bg.png');
  .right-shadow {
    background-color: transparent;
  }
  .left-shadow {
    background: image-url('left-shadow.png') repeat-y top left;
  }
  #footer-widgets {
    background: image-url('footer-widgets-bg.png') repeat-x bottom left;
    width: 960px;
    padding-top: 62px;
  }
  #footer-bottom {
    clear: both;
    padding-bottom: 28px;
    padding-top: 26px;
  }
  ul.bottom-nav li {
    float: left;
    font-size: 12px;
    padding-right: 19px;
  }
}

.container {
  text-align: left;
  margin: 0 auto;
  width: 960px;
  position: relative;
}


#footer { background: image-url('footer-bg.png'); }
#footer .right-shadow { background-color: transparent; }
#footer-top { background: image-url('footer-top-bg.png') repeat-x;  }
#footer-widgets { background: image-url('footer-widgets-bg.png') repeat-x bottom left; width: 960px; padding-top: 62px; }
.footer-widget { width: 266px; margin-right: 80px; float: left; margin-bottom: 20px; }
.last { margin-right: 0px; }
h4.widgettitle { font-family: 'Josefin Sans', arial, serif; color: #758b8d; font-size: 15px; padding-bottom: 18px; font-weight: bold;}
#footer-logo { margin-top: -18px; }
#footer-logo span { padding-left: 15px; color: #758b8d; font-style: italic; font-family: Georgia, serif; text-shadow: 1px 1px 1px #fff; font-size: 11px; }
.footer-widget .thumb { display:block; float:left; position:relative; margin-top: 6px; margin-right: 19px; margin-bottom:12px; }
.footer-widget { line-height: 21px; color: #a6a6a6; text-shadow: 1px 1px 1px #fff; }
.footer-widget a { color: #a6a6a6; text-shadow: 1px 1px 1px #fff; }
.footer-widget a:hover { color: #111; text-decoration: none; }
.footer-widget ul { margin-bottom:8px;  }
.footer-widget ul ul { margin-bottom:0; }
.footer-widget ul li { background:image-url('footer-bullet.png') no-repeat 0 7px; padding:0px 0 10px 13px; }
.footer-widget ul li ul { margin:0 0 -3px; padding:5px 0 0 7px; }
#footer-bottom {clear: both; padding-bottom: 28px; padding-top: 26px; }
ul.bottom-nav li {float: left; font-size: 12px; padding-right: 19px; }
ul.bottom-nav li a {color:#7a7a7a; text-shadow: 1px 1px 1px #fff;}
ul.bottom-nav li a:hover {text-decoration: none; color: #acacac; }
p#copyright { float:right; font-size:12px; color:#7a7a7a; text-shadow: 1px 1px 1px #fff; }
p#copyright a { font-style: italic; color:#758b8d; font-family: Georgia, serif; }
