ul#top-menu {
  a {
    font-size: 12px;
    color: #1d1d1d;
    text-decoration: none;
    padding: 8px 7px 7px;
    border: 1px solid transparent; }
  > li {
    &.sfHover > a {
      border: 1px solid #efefef;
      border-bottom: none; }
    &.current_page_item > a {
      color: #758b8d !important;
      font-style: italic;
      font-family: Georgia, serif; } }
  ul a {
    border: none;
    &:hover {
      border: none; } }
  a:hover {
    color: #939393; }
  ul {
    width: 189px;
    background: #fff;
    border: 1px solid #efefef;
    top: 34px !important;
    padding: 10px 8px 10px 20px;
    z-index: 9999px;
    display: none;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    li {
      padding: 8px 0;
      background: url(images/dropdown-bullet.png) no-repeat 0px 15px;
      a {
        padding: 0px 0px 0px 12px;
        width: 160px; } } }
  li {
    &:hover ul ul, &.sfHover ul ul {
      top: -12px !important;
      left: 197px !important; } } }