#footer {
  background: image-url('footer-bg.png');
  .right-shadow {
    background-color: transparent; } }

#footer-top {
  background: image-url('footer-top-bg.png') repeat-x; }

#footer-widgets {
  background: image-url('footer-widgets-bg.png') repeat-x bottom left;
  width: 960px;
  padding-top: 62px; }

.footer-widget {
  width: 266px;
  margin-right: 80px;
  float: left;
  margin-bottom: 20px; }

.last {
  margin-right: 0px; }

h4.widgettitle {
  font-family: 'Josefin Sans', arial, serif;
  color: #758b8d;
  font-size: 15px;
  padding-bottom: 18px;
  font-weight: bold; }

#footer-logo {
  margin-top: -18px;
  span {
    padding-left: 15px;
    color: #758b8d;
    font-style: italic;
    font-family: Georgia, serif;
    text-shadow: 1px 1px 1px #fff;
    font-size: 11px; } }

.footer-widget {
  .thumb {
    display: block;
    float: left;
    position: relative;
    margin-top: 6px;
    margin-right: 19px;
    margin-bottom: 12px; }
  line-height: 21px;
  color: #a6a6a6;
  text-shadow: 1px 1px 1px #fff;
  a {
    color: #a6a6a6;
    text-shadow: 1px 1px 1px #fff;
    &:hover {
      color: #111;
      text-decoration: none; } }
  ul {
    margin-bottom: 8px;
    ul {
      margin-bottom: 0; }
    li {
      background: image-url('footer-bullet.png') no-repeat 0 7px;
      padding: 0px 0 10px 13px;
      ul {
        margin: 0 0 -3px;
        padding: 5px 0 0 7px; } } } }

#footer-bottom {
  clear: both;
  padding-bottom: 28px;
  padding-top: 26px; }

ul.bottom-nav li {
  float: left;
  font-size: 12px;
  padding-right: 19px;
  a {
    color: #7a7a7a;
    text-shadow: 1px 1px 1px #fff;
    &:hover {
      text-decoration: none;
      color: #acacac; } } }

p#copyright {
  float: right;
  font-size: 12px;
  color: #7a7a7a;
  text-shadow: 1px 1px 1px #fff;
  a {
    font-style: italic;
    color: #758b8d;
    font-family: Georgia, serif; } }