$light_orange: #FDD395;
$dark_orange: #FBB040;

$dark_blue: #1B2B5F;
$light_blue: #5167AF;

$shadow: #ababab;

/* #546292 */

$header_line: 40px;

$blue1: $light_blue;
$blue2: $dark_blue; /* #8998C9; */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}

.nivo-main-image {
  border-bottom: 1px solid gray;
}

.topbar {
  padding-bottom: 40px;
}

.title {
  padding-bottom: 20px;
}

a {
  color: $blue1;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#ArticleGrid {
  _height: 1em;
  *zoom: 100%;
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:after {
    clear: left;
    content: "\0020";
    display: block;
    height: 0
  }
}

.mainContent {
  padding-right: 25px;
  form {
    margin-top: 10px;
    padding: 10px;
  }
}

.text {
  color: #333;
  font-family: "myriad-pro-1","myriad-pro-2","Helvetica","Arial",sans-serif;
  font-size: 15px;
  &:selection {
    background: #447099;
    color: white;
  }
}

.logo_text {
  font-family: "garamond-premier-pro";
  font-size: 27px;
  letter-spacing:3px;
}

@mixin informal {
  font-family: "felt-tip-senior",cursive;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 38px;
  color: $blue1;
  padding-left:0px;
  padding-top:10px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid $dark_orange;
  width: 500px;
  @include informal;
}

h2 {
  border-top: solid 1px #DDD;
  padding-top: 5px;
  margin-bottom: 4px;
  font-weight: bold;
  margin-top:5px;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.63em;
  -webkit-margin-after: 0.43em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  @include informal;
}

h3 {
  padding-top: 12px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top:10px;
  display: block;
  font-size: 1em;
  -webkit-margin-before: 0.63em;
  -webkit-margin-after: 0.43em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p {
  font-family: "myriad-pro-1","myriad-pro-2","Helvetica","Arial",sans-serif;
  padding:7px 20px 7px 0;
  font-size:15px;
}

html {
  background: image-url("tile.png") repeat-y scroll center top whiteSmoke;
  color: black;
}

.LayoutGridBreakAfter::after, .LayoutBreakAfter::after {
  clear: both;
  display: block;
  height: 0;
  content: "\0020";
}

#SiteHeader {
  position: relative;
  margin: 0 0 11px;
  line-height: 14px;
  min-width: 935px;
  color: #333;
  zoom: 1;
  z-index: 999;
  text-rendering: auto;
}

#SiteHeaderBar {
  padding-left: 10px;
  line-height: $header_line;
  background: #424242 none;
  background: -webkit-gradient(linear,left top,left bottom,from($dark_blue),to($light_blue));
  background: -moz-linear-gradient(top,$dark_blue,$light_blue);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1B2B5F,endColorstr=#FF5167AF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1B2B5F, endColorstr=#FF5167AF)";
  background: -ms-linear-gradient(top,$dark_blue,$light_blue);
  background: -o-linear-gradient(top,$dark_blue,$light_blue);
  z-index: inherit;
  &:after {
    clear: both;
    content: "\0020";
    height: 0;
    display: block;
  }
}

.SiteHeaderHome {
  position: absolute;
  left: 0;
  top: 0;
  height: $header_line;
  width: 50px;
  display: block;
  /* background: image-url("heart.gif") no-repeat; */
  padding: 0;
  margin: 0;
}

.TextSmall {
  font-size: 12px;
  line-height: 16px;
}

.SiteHeaderBarItemFirst {
  border-left: 1px solid #414141;
  padding-left: 5px;
}

.SiteHeaderTitle {
  padding-top: 5px;
  color:white;
  font-weight: 700;
  font-size:16px;
  float:left;
  /* z-index: 1000; */
  font-family: "garamond-premier-pro",serif;
  letter-spacing: 2px;
  width:455px;
}

/* for footer */

.TextInvert {
  color: white;
}

.LinkInvert a, .LinkInvert a:link, .LinkInvert a:visited, a.LinkInvert, a.LinkInvert:link, a.LinkInvert:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.SiteHeaderBarItem {
  position: relative;
  float: left;
  border-left: 1px solid #4C4C4C;
  border-right: 1px solid black;
  margin: 0;
  z-index: 1000;
  cursor: pointer;
  font-weight: 700;
  &:hover, &:focus {
    position: relative;
    border-left: 1px solid #515151;
    background: $dark_orange none;
    /* background: -webkit-gradient(linear,left top,left bottom,from($dark_orange),to($light_orange));
    background: -moz-linear-gradient(top,$dark_orange,$light_orange);
    background: -ms-linear-gradient(top,$dark_orange,$light_orange);
    background: -o-linear-gradient(top,$dark_orange,$light_orange); */
  }
  a {
    color: white !important;
    padding: 1px 16px 0;
    text-decoration: none;
    text-shadow: 0 -1px 0 $shadow;
    -moz-text-shadow: 0 -1px 0 $shadow;
    position: relative;
    display: block;
    &:visited:hover, &:hover, &:visited:focus &:focus {
      /* color: white!important; */
      color: $blue1 !important;
      text-shadow: 0 -1px 0 $light_orange;
      -moz-text-shadow: 0 -1px 0 $light_orange;
      font-weight: 700;
      z-index: 1002;
    }
  }
}



.ArticleGrid-1 {
  width: 220px
}

.ArticleGrid-1-2 {
  width: 464px
}

.ArticleGrid-1-3 {
  width: 708px
}

.ArticleGrid-1-4 {
  width: 940px
}

.ArticleGrid-2 {
  width: 233px
}

.ArticleGrid-2-3 {
  width: 477px
}

.ArticleGrid-2-4 {
  width: 709px
}

.ArticleGrid-3 {
  width: 233px
}

.ArticleGrid-3-4 {
  width: 465px
}

.ArticleGrid-4 {
  width: 221px
}

.ArticleGrid-1, .ArticleGrid-1-2, .ArticleGrid-1-3, .ArticleGrid-1-4, .ArticleGrid-2-3 .ArticleGrid-2, .ArticleGrid-2-4 .ArticleGrid-2, .ArticleGrid-2-4 .ArticleGrid-2-3, .ArticleGrid-3-4 .ArticleGrid-3 {
  clear: left;
  margin-left: 0
}

.ArticleGrid-1, .ArticleGrid-1-2, .ArticleGrid-1-3, .ArticleGrid-1-4, .ArticleGrid-2, .ArticleGrid-2-3, .ArticleGrid-2-4, .ArticleGrid-3, .ArticleGrid-3-4, .ArticleGrid-4 {
  float: left
}

.ArticleGrid-2, .ArticleGrid-2-3, .ArticleGrid-2-4, .ArticleGrid-3, .ArticleGrid-3-4, .ArticleGrid-4 {
  margin-left: 11px
}

hr {
  width: auto;
  height: 1px;
  margin: 0 0 10px 0;
}

#SiteFooter {
  margin-top: 16px;
  background: #3D3D3D none;
  background: -webkit-gradient(linear,left top,left bottom,from($blue1),to($blue2));
  background: -moz-linear-gradient(top,$blue1,$blue2);
  /* filter: progid:DXImageTransform.Microsoft.gradient(endcolorstr=#FF8998C9,startcolorstr=#FF546292)); */
  background: -ms-linear-gradient(top,$blue1,$blue2);
  background: -o-linear-gradient(top,$blue1,$blue2);
  zoom: 1;
  clear: both;
  line-height: 39px;
  hr {
    width: 100%;
    border-style: none;
    border-top: 2px groove #555;
  }
  p {
    padding: 10px;
  }
}

.LayoutCell, .LayoutCellSides {
  padding-left: 11px;
  padding-right: 11px;
}

ul {
  padding-left:25px;
}
