%p.TextInvert
  Chrissy Booher, chrissy@theboohers.org, 571-212-6145<br>
/ = image_tag "white_hands.png"
.LayoutGridBreak
  .LayoutCellSides
    %hr
.LayoutGrid-1-4.LayoutSlimGrid-1-2.LinkInvert.LinkStrong
  .LayoutCellSides.LayoutCellBottom.LinkInvert
    %p.SiteFooterRow.TextSmall
      Copyright © 2012 Pediatric Therapy Partners of NOVA.  All rights reserved.
