/ = image_tag "white_hands.png"
.LayoutGrid-1-4.LayoutSlimGrid-1-2.LinkInvert.LinkStrong
  .LayoutCellSides.LayoutCellBottom.LinkInvert
    %p.SiteFooterRow.TextSmall.TextInvert
      %ul
        %li Chrissy Booher, MS, PT (based in Alexandria) chrissy@ptpnova.com 571-212-6145
        %li Andrea Rafferty, PT (based in Fairfax) andrea@ptpnova.com 703.424.3564

.LayoutGridBreak
  .LayoutCellSides
    %hr
.LayoutGrid-1-4.LayoutSlimGrid-1-2.LinkInvert.LinkStrong
  .LayoutCellSides.LayoutCellBottom.LinkInvert
    %p.SiteFooterRow.TextSmall.TextInvert
      Copyright © 2012 Pediatric Therapy Partners of NOVA.  All rights reserved.
