/ = image_tag "white_hands.png"
.LayoutGrid-1-4.LayoutSlimGrid-1-2.LinkInvert.LinkStrong
  .LayoutCellSides.LayoutCellBottom.LinkInvert
    %p.SiteFooterRow.TextSmall.TextInvert
      %table.TextSmall.TextInvert{style: "width:80%; height:55px;"}
        %tr
          %td Chrissy Booher, MS, PT (based in Alexandria)
          %td chrissy@ptpnova.com
          %td 571.212.6145
        %tr
          %td Andrea Rafferty, PT (based in Fairfax)
          %td andrea@ptpnova.com
          %td 703.424.3564

.LayoutGridBreak
  .LayoutCellSides
    %hr
.LayoutGrid-1-4.LayoutSlimGrid-1-2.LinkInvert.LinkStrong
  .LayoutCellSides.LayoutCellBottom.LinkInvert
    %p.SiteFooterRow.TextSmall.TextInvert
      Copyright © 2012 Pediatric Therapy Partners of NOVA.  All rights reserved.
