%p.TextInvert The footer should have all the fields, contact information, and the logo, maybe even contact form
.LayoutGridBreak
  .LayoutCellSides
    %hr
.LayoutGrid-1-4.LayoutSlimGrid-1-2.LinkInvert.LinkStrong
  .LayoutCellSides.LayoutCellBottom.LinkInvert
    %p.SiteFooterRow.TextSmall
      Copyright © 2012 Adobe Systems Incorporated.  All rights reserved.
