.SiteHeaderTitle
  PEDIATRIC THERAPY PARTNERS OF NOVA
.SiteHeaderBarItem.SiteHeaderBarItemFirst
  =link_to 'About', bio_path
.SiteHeaderBarItem
  =link_to 'Services', services_path
.SiteHeaderBarItem
  =link_to 'New Patients', new_patients_path
.SiteHeaderBarItem
  =link_to 'Contact', contact_path
.SiteHeaderBarItem
  =link_to 'Blog', "wordpress blog"

