.SiteHeaderTitle
  = link_to "PEDIATRIC THERAPY PARTNERS OF NOVA", "/", class: "LinkInvert"
.SiteHeaderBarItem
  =link_to 'About', about_path
.SiteHeaderBarItem
  =link_to 'Services', services_path
.SiteHeaderBarItem
  =link_to 'New Patients', new_patients_path
.SiteHeaderBarItem
  =link_to 'Contact', contact_path
.SiteHeaderBarItem
  =link_to 'Testimonials', testimonials_path

