!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Location | Modest Theme
    %link{:href => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:regular,bold", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/feed/", :rel => "alternate", :title => "Modest Theme RSS Feed", :type => "application/rss+xml"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/feed/atom/", :rel => "alternate", :title => "Modest Theme Atom Feed", :type => "application/atom+xml"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/xmlrpc.php", :rel => "pingback"}/
    /[if lt IE 7]
      <link rel="stylesheet" type="text/css" href="http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/css/ie6style.css" />
      <script type="text/javascript" src="http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/js/DD_belatedPNG_0.0.8a-min.js"></script>
      <script type="text/javascript">DD_belatedPNG.fix('img#logo, #et-social-icons img, span.overlay, .gotoslide span, #featured .description, .featured-title, .footer-widget ul li, #footer-top, span#down-arrow, .thumb .zoom-icon, span.post-overlay, .avatar-overlay');</script>
    /[if IE 7]
      <link rel="stylesheet" type="text/css" href="http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/css/ie7style.css" />
    /[if IE 8]
      <link rel="stylesheet" type="text/css" href="http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/css/ie8style.css" />
    :javascript
      document.documentElement.className = 'js';
    %meta{:content => "noindex,nofollow", :name => "robots"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/feed/", :rel => "alternate", :title => "Modest Theme » Feed", :type => "application/rss+xml"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/comments/feed/", :rel => "alternate", :title => "Modest Theme » Comments Feed", :type => "application/rss+xml"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/location/feed/", :rel => "alternate", :title => "Modest Theme » Location Comments Feed", :type => "application/rss+xml"}/
    %meta{:content => "Modest v.1.9", :name => "generator"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/epanel/page_templates/page_templates.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link#et-shortcodes-css-css{:href => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/epanel/shortcodes/shortcodes.css?ver=1.7", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link#wp-pagenavi-css{:href => "http://www.elegantthemes.com/preview/Modest/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-includes/js/l10n.js?ver=20101110", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-includes/js/comment-reply.js?ver=20090102", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-includes/js/jquery/jquery.js?ver=1.6.1", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/epanel/shortcodes/js/et_shortcodes_frontend.js?ver=1.7", :type => "text/javascript"}
    %link{:href => "http://www.elegantthemes.com/preview/Modest/xmlrpc.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/", :rel => "index", :title => "Modest Theme"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/partners/", :rel => "prev", :title => "Partners"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/about-2/meet-the-team/", :rel => "next", :title => "Meet The Team"}/
    %meta{:content => "WordPress 3.2.1", :name => "generator"}/
    %link{:href => "http://www.elegantthemes.com/preview/Modest/location/", :rel => "canonical"}/
    / used in scripts
    %meta{:content => "7000", :name => "et_featured_auto_speed"}/
    %meta{:content => "0", :name => "et_disable_toptier"}/
    %meta{:content => "1", :name => "et_featured_slider_auto"}/
    :css
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}    :css
      #et_pt_portfolio_gallery { margin-left: -15px; }
      .et_pt_portfolio_item { margin-left: 21px; }
      .et_portfolio_small { margin-left: -40px !important; }
      .et_portfolio_small .et_pt_portfolio_item { margin-left: 32px !important; }
      .et_portfolio_large { margin-left: -8px !important; }
      .et_portfolio_large .et_pt_portfolio_item { margin-left: 17px !important; }
  %body.page.page-id-134.page-template-default.chrome
    .right-shadow
      .left-shadow
        .container.clearfix
          #header.clearfix
            %a{:href => "http://www.elegantthemes.com/preview/Modest"}
              %img#logo{:alt => "Modest Theme", :src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/images/logo.png"}/
            %ul#top-menu.nav
              %li#menu-item-322.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-home.menu-item-322
                %a{:href => "http://www.elegantthemes.com/preview/Modest/"} Home
              %li#menu-item-323.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-ancestor.current-menu-parent.current_page_parent.current_page_ancestor.menu-item-323
                %a{:href => "http://www.elegantthemes.com/preview/Modest/about-2/"} About
                %ul.sub-menu
                  %li#menu-item-325.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-134.current_page_item.menu-item-325
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/location/"} Location
                  %li#menu-item-324.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-324
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/contact/email-contact/"} Email Contact
                  %li#menu-item-330.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-330
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/about-2/where-to-find-us/"} What We Do
                  %li#menu-item-328.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-328
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/contact/submit-a-ticket/"} Submit a Ticket
                  %li#menu-item-329.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-329
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/contact/support-forum/"} Support Forum
              %li#menu-item-327.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-327
                %a{:href => "http://www.elegantthemes.com/preview/Modest/partners/"} Partners
              %li#menu-item-321.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-321
                %a{:href => "http://www.elegantthemes.com/preview/Modest/category/news/"} Blog
              %li#menu-item-365.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-134.current_page_item.menu-item-365
                %a{:href => "http://www.elegantthemes.com/preview/Modest/location/"} Location
              %li#menu-item-366.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-366
                %a{:href => "http://www.elegantthemes.com/preview/Modest/contact/"} Page Templates
                %ul.sub-menu
                  %li#menu-item-391.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-391
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/contact-form/"} Contact Form
                  %li#menu-item-390.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-390
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/full-width/"} Full Width
                  %li#menu-item-416.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-416
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/portfolio/"} Portfolio
                    %ul.sub-menu
                      %li#menu-item-415.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-415
                        %a{:href => "http://www.elegantthemes.com/preview/Modest/portfolio-small/"} Portfolio Small
                      %li#menu-item-414.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-414
                        %a{:href => "http://www.elegantthemes.com/preview/Modest/portfolio-medium/"} Portfolio Medium
                      %li#menu-item-413.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-413
                        %a{:href => "http://www.elegantthemes.com/preview/Modest/portfolio-large/"} Portfolio Large
                      %li#menu-item-412.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-412
                        %a{:href => "http://www.elegantthemes.com/preview/Modest/portfolio-with-sidebar/"} Portfolio With Sidebar
                      %li#menu-item-411.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-411
                        %a{:href => "http://www.elegantthemes.com/preview/Modest/portfolio-no-text/"} Portfolio No Text
                  %li#menu-item-389.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-389
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/sitemap/"} Sitemap
                  %li#menu-item-388.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-388
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/image-gallery/"} Image Gallery
                  %li#menu-item-386.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-386
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/advanced-search/"} Advanced Search
                  %li#menu-item-387.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-387
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/login-page/"} Login Page
              %li#menu-item-372.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-372
                %a{:href => "http://www.elegantthemes.com/preview/Modest/shortcodes/"} Shortcodes
            #icons
              %span We Design With Modesty
              #et-social-icons
                %a{:href => "#", :target => "_blank"}
                  %img{:alt => "Twitter", :src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/images/twitter.png"}/
                %a{:href => "http://www.elegantthemes.com/preview/Modest/comments/feed/", :target => "_blank"}
                  %img{:alt => "Rss", :src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/images/rss.png"}/
                %a{:href => "#", :target => "_blank"}
                  %img{:alt => "Facebook", :src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/images/facebook.png"}/
          / end #header
          #content-area.clearfix
            #category-name
              %h1.category-title Location
              %p.description You Can Add a Subhead Description Here
            / end #category-name
            #left-area
              .entry.clearfix.post
                %p Nulla ornare, nulla et egestas hendrerit, ipsum dui vulputate dolor, et ornare orci erat eleifend pede. Fusce eros libero, vestibulum non, elementum eu, suscipit eget, leo. Donec consectetuer tincidunt diam. Sed et mauris in ligula feugiat hendrerit. Cras neque purus, mollis non, adipiscing ac, pretium eget, turpis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vulputate metus in ligula. Ut at tellus. Suspendisse potenti. Mauris in orci eget risus condimentum tristique. Vivamus egestas, neque ac posuere egestas, ante justo malesuada nunc, elementum pretium mi lacus sit amet turpis. Curabitur scelerisque sodales justo. Pellentesque non sapien quis ligula iaculis vestibulum. Aenean dignissim arcu gravida nisi. Nulla facilisi. Fusce a augue.
                %p Nullam ac erat. Donec a ipsum. Nullam tristique leo id lacus. Sed sed pede non arcu ornare interdum. Maecenas justo elit, rutrum in, adipiscing id, laoreet in, libero. Fusce quam. Donec a urna a enim gravida dictum. Nunc elementum, mauris sit amet imperdiet iaculis, dolor metus consectetuer mi, et tempor elit enim at massa. Duis ac nisl. Nullam pulvinar. Curabitur quam sapien, lobortis eu, luctus vitae, volutpat ac, metus. Nam elementum. Fusce fringilla. Praesent pulvinar turpis vitae justo cursus pulvinar. In hac habitasse platea dictumst. Nunc fermentum tellus interdum libero. Phasellus eros. Vestibulum euismod nunc at eros. Pellentesque nec ligula non tellus accumsan molestie. Pellentesque felis massa, tincidunt at, pulvinar id, placerat nec, velit.
                %p Cras rhoncus ipsum ac dolor. In hac habitasse platea dictumst. Nulla dapibus ultricies pede. Quisque augue risus, porttitor nec, suscipit ut, pellentesque quis, lacus. Duis adipiscing purus eu metus pharetra porttitor. Aenean sapien nisi, sodales non, facilisis nec, ultricies et, erat. Cras aliquam. Maecenas mi. Sed lacus arcu, malesuada id, ultricies et, ornare non, dolor. Maecenas turpis lacus, vehicula nec, blandit in, laoreet a, nibh. Donec aliquet. In et leo tincidunt tortor rhoncus convallis. Nulla facilisi. Praesent bibendum semper eros. Morbi risus. Nam tellus leo, ullamcorper egestas, venenatis quis, viverra ac, mauris. In hac habitasse platea dictumst. Curabitur at velit vel sem auctor hendrerit. Integer mauris orci, vehicula eu, feugiat ac, hendrerit ut, dolor. Fusce elit nulla, gravida quis, vulputate eu, rutrum vel, lectus. Integer cursus luctus nisl. Quisque quam. Aliquam lectus urna, porta in, viverra eu, pellentesque a, massa. Etiam eros sapien, porta et, aliquam et, bibendum sit amet, erat. Sed condimentum interdum lacus. In ut ante non felis tincidunt porta. Aenean aliquet ornare sem. Nunc dignissim, erat sit amet vulputate cursus, elit magna facilisis massa, quis hendrerit nunc odio id dui. Proin interdum dictum arcu. Pellentesque erat ante, ultricies ac, porttitor ac, dictum et, purus. Donec enim odio, gravida ut, imperdiet quis, rutrum ut, lacus.
                %p Etiam pharetra scelerisque diam. Maecenas varius augue vel urna. Vestibulum erat nisl, fringilla vel, mollis et, aliquam non, elit. Nulla malesuada turpis nec velit. Donec vitae sem a metus dictum molestie. Ut dignissim, odio non porttitor convallis, sapien leo viverra lorem, a consequat mauris erat sit amet dui. Nullam rutrum feugiat massa. Nullam lacinia purus vitae massa. Pellentesque vel tortor eget nulla ullamcorper vehicula. Cras egestas euismod magna. Praesent laoreet aliquet nulla. Aliquam arcu. Proin vel neque non ligula sodales sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed magna. Pellentesque aliquet mollis arcu. Morbi at felis. Suspendisse ligula. Aliquam nisl arcu, vehicula vitae, hendrerit ut, sodales eu, augue. Sed tristique pretium risus. Ut luctus, dui quis commodo luctus, quam nulla ultricies lorem, eu ornare nulla metus at leo. Praesent rhoncus sapien sit amet mauris. Aenean commodo erat eu eros. Morbi tristique, risus sed consequat bibendum, enim augue tincidunt quam, ac semper libero velit vitae eros.
              / end .entry
            / end #left-area
            #sidebar
              #recent-posts-4.widget.widget_recent_entries
                %h4.widgettitle Recent Posts
                %ul
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/nam-libero-tempore-cum-soluta-nobis-est-2/", :title => "Nam libero tempore soluta"} Nam libero tempore soluta
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/sed-neque-ipsum-pulvinar-eu-tristique/", :title => "Sed neque ipsum pulvinar eu trist"} Sed neque ipsum pulvinar eu trist
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/cras-eu-eros-id-dui-porttitor-luctus/", :title => "Cras eu eros id dui porttitor luctus"} Cras eu eros id dui porttitor luctus
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/vivamus-vitae-nibh-id-quam-convallis-blandit/", :title => "Vivamus vitae nibh id quam"} Vivamus vitae nibh id quam
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/aenean-vulputate-fermentum-ante-rhoncus-pulvinar/", :title => "Aenean vulputate fermentum ante"} Aenean vulputate fermentum ante
              / end .widget
              #recent-comments-3.widget.widget_recent_comments
                %h4.widgettitle Recent Comments
                %ul#recentcomments
                  %li.recentcomments
                    %a.url{:href => "http://piyushshekhar.com", :rel => "external nofollow"} Piyush Shekhar
                    on
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2008/07/urna-eget-erat-non-purus/#comment-19"} Urna eget erat non purus
                  %li.recentcomments
                    %a.url{:href => "http://bioix.com", :rel => "external nofollow"} Chicken Soup
                    on
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/nam-libero-tempore-cum-soluta-nobis-est-2/#comment-149"} Nam libero tempore soluta
                  %li.recentcomments
                    %a.url{:href => "http://www.hungryhusband.com", :rel => "external nofollow"} Hungry Husband
                    on
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/nam-libero-tempore-cum-soluta-nobis-est-2/#comment-148"} Nam libero tempore soluta
                  %li.recentcomments
                    %a.url{:href => "http://www.simonowen.co.nz", :rel => "external nofollow"} simon
                    on
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/nam-libero-tempore-cum-soluta-nobis-est-2/#comment-147"} Nam libero tempore soluta
                  %li.recentcomments
                    %a.url{:href => "http://www.thedoart.com", :rel => "external nofollow"} Thedoart
                    on
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/vivamus-vitae-nibh-id-quam-convallis-blandit/#comment-104"} Vivamus vitae nibh id quam
              / end .widget
              #meta-4.widget.widget_meta
                %h4.widgettitle Meta
                %ul
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/wp-login.php"} Log in
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/feed/", :title => "Syndicate this site using RSS 2.0"}
                      Entries
                      %abbr{:title => "Really Simple Syndication"} RSS
                  %li
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/comments/feed/", :title => "The latest comments to all posts in RSS"}
                      Comments
                      %abbr{:title => "Really Simple Syndication"} RSS
                  %li
                    %a{:href => "http://wordpress.org/", :title => "Powered by WordPress, state-of-the-art semantic personal publishing platform."} WordPress.org
              / end .widget
              #linkcat-2.widget.widget_links
                %h4.widgettitle Blogroll
                %ul.xoxo.blogroll
                  %li
                    %a{:href => "http://codex.wordpress.org/"} Documentation
                  %li
                    %a{:href => "http://wordpress.org/extend/plugins/"} Plugins
                  %li
                    %a{:href => "http://wordpress.org/extend/ideas/"} Suggest Ideas
                  %li
                    %a{:href => "http://wordpress.org/support/"} Support Forum
                  %li
                    %a{:href => "http://wordpress.org/extend/themes/"} Themes
                  %li
                    %a{:href => "http://wordpress.org/news/"} WordPress Blog
                  %li
                    %a{:href => "http://planet.wordpress.org/"} WordPress Planet
              / end .widget
            / end #sidebar
          / end #content-area
        / end .container
      / end .left-shadow
    / end .right-shadow
    #footer
      .right-shadow
        .left-shadow
          #footer-top
            .container
              #footer-widgets.clearfix
                #customlogowidget-4.footer-widget.widget_customlogowidget
                  %p#footer-logo
                    %img{:alt => "", :src => "http://www.elegantthemes.com/preview/Modest/wp-content/uploads/2009/08/custom_logo.png"}/
                    %span ©  20010 Modest Inc
                  .thumb
                    %img.item-image{:alt => "", :src => "http://www.elegantthemes.com/preview/DelicateNews/wp-content/uploads/2010/07/thumb-4-56x56.png"}/
                    %span.overlay
                  %p Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molestie egestas et sit amet odio. Morbi lacinia velit in nibh sodales sed pharetra sem feugiat. Vivamus ut cursus augue. Integer sit amet arcu lorem, at egestas tellus. Phasellus tellus orci, congue at tristique at, mattis ut arcu.
                  %a.readmore{:href => "http://www.elegantthemes.com/preview/Modest/?page_id=127"}
                    %span Learn More
                / end .footer-widget
                #recent-posts-3.footer-widget.widget_recent_entries
                  %h4.widgettitle Recent Posts
                  %ul
                    %li
                      %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/nam-libero-tempore-cum-soluta-nobis-est-2/", :title => "Nam libero tempore soluta"} Nam libero tempore soluta
                    %li
                      %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/sed-neque-ipsum-pulvinar-eu-tristique/", :title => "Sed neque ipsum pulvinar eu trist"} Sed neque ipsum pulvinar eu trist
                    %li
                      %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/cras-eu-eros-id-dui-porttitor-luctus/", :title => "Cras eu eros id dui porttitor luctus"} Cras eu eros id dui porttitor luctus
                    %li
                      %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/vivamus-vitae-nibh-id-quam-convallis-blandit/", :title => "Vivamus vitae nibh id quam"} Vivamus vitae nibh id quam
                    %li
                      %a{:href => "http://www.elegantthemes.com/preview/Modest/2009/08/aenean-vulputate-fermentum-ante-rhoncus-pulvinar/", :title => "Aenean vulputate fermentum ante"} Aenean vulputate fermentum ante
                / end .footer-widget
                #text-3.footer-widget.widget_text
                  %h4.widgettitle Custom Text Widget
                  .textwidget Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.Nullam ac erat.
                / end .footer-widget
              / end #footer-widgets
              #footer-bottom.clearfix
                %ul#menu-pages.bottom-nav
                  %li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-home.menu-item-322
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/"} Home
                  %li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-ancestor.current-menu-parent.current_page_parent.current_page_ancestor.menu-item-323
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/about-2/"} About
                  %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-327
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/partners/"} Partners
                  %li.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-321
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/category/news/"} Blog
                  %li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-134.current_page_item.menu-item-365
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/location/"} Location
                  %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-366
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/contact/"} Page Templates
                  %li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-372
                    %a{:href => "http://www.elegantthemes.com/preview/Modest/shortcodes/"} Shortcodes
                %p#copyright
                  Designed by
                  %a{:href => "http://www.elegantthemes.com"} Elegant WordPress Themes
                  | Powered by
                  %a{:href => "http://www.wordpress.org"} WordPress
              / end #footer-bottom
            / end .container
          / end #footer-top
        / end .left-shadow
      / end .right-shadow
    / end #footer
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/js/jquery.easing.1.3.js", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/js/superfish.js", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/js/custom.js", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/epanel/page_templates/js/fancybox/jquery.easing-1.3.pack.js?ver=1.3.4", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.pack.js?ver=1.3.4", :type => "text/javascript"}
    %script{:src => "http://www.elegantthemes.com/preview/Modest/wp-content/themes/Modest/epanel/page_templates/js/et-ptemplates-frontend.js?ver=1.1", :type => "text/javascript"}
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      var pageTracker = _gat._getTracker("UA-5205247-2");
      pageTracker._trackPageview();